$background-color: hsl(218, 19%, 25%);
$background-color-darkened: hsl(218, 19%, 20%);
$background-color-darker: hsl(218, 19%, 10%);
$primary-color: #b0b7c2;
$secondary-color: #0bd3ab;
$border-color: hsl(218, 19%, 10%);

$border-radius: 1rem;

$label-height: 3rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body, textarea {
  background-color: $background-color-darkened;
  color: $primary-color;

  font-size: 1.6rem;
}

.container {
  display: grid;
  padding: 2rem;
  height: 100vh;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
}

.container-left, .container-right {
  height: 100%;
}

.label {
  height: $label-height;
  background-color: $secondary-color;
  border: .1rem solid $secondary-color;
  color: $background-color-darker;
  font-weight: 600;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.input, .output {
  resize: none;
  width: 100%;
  height: calc(100% - #{$label-height});
  padding: 1rem;
  border: none;
  background-color: $background-color;
  overflow: scroll;
}

.input {
  font-family: 'Courier New', Courier, monospace;
  color: #0bd3ab;
  border: .1rem solid $secondary-color;
  border-top: 0;
}

.input:focus {
  outline: 0;
  border: 1px solid white;
  border-top: 0;
  background-color: rgba($secondary-color, .1);
  color: white;

  &::selection {
    background: rgba($secondary-color,.5);
  }
}

.output {
  border: .1rem solid $primary-color;
  border-top: 0;

  &__html{
    overflow: scroll;

    a, a:visited {
      color: $secondary-color;
    }

    h1, h2, h3, p, pre, ul, ol, table, blockquote {
      margin-bottom: 1.6rem;
    }

    ul, ol, li {
      margin-left: 1rem;
    }

    th, td {
      border: .1rem solid $primary-color;
      padding: 1rem;
    }

    code {
      background-color: $background-color-darker;
      color: $secondary-color;
    }

    pre, blockquote {
      display: block;
      background-color: $background-color-darker;
      padding: 1rem;
      border-left: .1rem solid $primary-color;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}